<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery-2.1.4.js"></script>
    <script>
        $(function () {
            $("#tijiao").on('click',function () {
                $.post('/doRegister',{
                    "username":$("#username").val(),
                    "password":$("#password").val()
                },function (result) {
                        if(result==1){
                            alert("注册成功")
                        }
                })
            })
        })
    </script>
</head>
<body>
<p>用户：<input type="text" id="username"></p>
<p>密码：<input type="password" id="password"></p>
<p><input type="button" id="tijiao" value="注册"></p>
</body>
</html>